/* FONT PATH */

/*
@font-face {
  font-family: 'FontWikantik';
  src: url('@{fa-font-path}/fontawesome-webfont.eot?v=@{fa-version}');
  src: url('@{fa-font-path}/fontawesome-webfont.eot?#iefix&v=@{fa-version}') format('embedded-opentype'),
    url('@{fa-font-path}/fontawesome-webfont.woff?v=@{fa-version}') format('woff'),
    url('@{fa-font-path}/fontawesome-webfont.ttf?v=@{fa-version}') format('truetype'),
    url('@{fa-font-path}/fontawesome-webfont.svg?v=@{fa-version}#fontwikantikregular') format('svg');
//  src: url('@{fa-font-path}/fontwikantik.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}
*/
/*
@font-face {
	font-family: 'FontWikantik';
	src:url('fonts/FontWikantik.eot?-y8je1z');
	src:url('fonts/FontWikantik.eot?#iefix-y8je1z') format('embedded-opentype'),
		url('fonts/FontWikantik.ttf?-y8je1z') format('truetype'),
		url('fonts/FontWikantik.woff?-y8je1z') format('woff'),
		url('fonts/FontWikantik.svg?-y8je1z#FontWikantik') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/
@font-face {
	font-family: 'FontWikantik';
	src:url('fonts/FontWikantik.eot');
	src:url('fonts/FontWikantik.eot') format('embedded-opentype'),
		url('fonts/FontWikantik.ttf') format('truetype'),
		url('fonts/FontWikantik.woff') format('woff'),
		url('fonts/FontWikantik.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}